@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: Noto Sans, Noto Sans KR, sans-serif !important;
    /* transition: color 100ms, background-color 0.3s; */
}

@keyframes mountFromTop {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes unmountFromBottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20%);
        opacity: 0;
    }
}

.mountFromTop {
    animation: mountFromTop 300ms ease-in-out;
}

.unmountFromBottom {
    animation: unmountFromBottom 300ms ease-in-out;
}

dl {
    margin: 0;
}

.mouse_hover {
    cursor: pointer;
}

.mouse_hover:hover {
    filter: brightness(0.8);
}

/* 
    scroll bar
*/
::-webkit-scrollbar {
    display: none;
}